<h2>View All Analytics</h2>

Overall Fees Across Time

<div id="all_chart"></div>
<%= render_chart(@all_chart, "all_chart") %>

Fees Across Time By Gender

<div id="gender_chart"></div>
<%= render_chart(@gender_chart, "gender_chart") %>
