/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     background-color: #f1f1f1;
 }

#navigation,.navbar .navbar-default {
  background-image: url("nav_image.jpg");
  background-size: cover;
  height: 500px;
  color: white;
}

#logo {
font-family: "league-gothic", sans-serif;
font-size: 300%;
color: white;
display: inline;
padding: 0 0 0 50px;
}

#logo_image {
  background-image: url("templogo.png");
  background-size: cover;
  width: 1%;
  height: 1%;
}

#right_nav {
  padding : 1% 1% 0 0;
}

#left_nav {
  padding : 1% 0% 0 1%;
}

#logo_nav {
  padding : 1% 0% 0 0%;
}

.login {

}


.logo_padding {
  padding: 1% 5% 1% 2%;
}

.nav_link {
  padding: 10px;
  font-size: 120%;
}

.nav_link:link {
  color:white;
}

.nav_link:visited {
  color:white;
}

.nav_link:hover {
  color:white;
}

.nav_link:active {
  color:white;
}
