/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     background-color: #f1f1f1;
 }



 a:link {
   color:black;
 }

 a:visited {
   color:black;
 }

 a:hover {
   color:black;
 }

 a:active {
   color:black;
 }


 .login {
   color: white;
 }

 .login label {
   margin: 5px 0px 0px 0px;
 }

.create_acct {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  /* padding: 3%; */
}

.contract_list_tile {
  /* margin: 0 0 0 50px; */
  background-color: white;
  height: 400px;
}

.contract_pie_tile {
  background-color: white;
  height: 400px;
}

.contract_line_tile {
  background-color: white;
  height: 400px;
}

.contract_list_tile ul {
  list-style-type: none;
  /* margin-left: -25px; */
}

.padding_row {
  padding-top: 30px;
}

.white {
  background-color: white;
}

.fill_div {
  color: white;
}

.contract_data {
  font-weight: bold;
}

.pitch {
  padding-top: 20px;
  padding-bottom: 30px;
}

                                      /* NAVIGATION */

#navigation,.navbar .navbar-default {
  background-image: url("nav_image2.jpg");
  background-size: cover;
  height: 337px;
  color: white;
}

#logo {
font-family: "league-gothic", sans-serif;
font-size: 300%;
color: white;
display: inline;
padding: 0 0 0 50px;
}

#logo_image {
  background-image: url("templogo.png");
  background-size: cover;
  width: 1%;
  height: 1%;
}

#right_nav {
  padding : 1% 1% 0 0;
}

#left_nav {
  padding : 1% 0% 0 1%;
}

#logo_nav {
  padding : 1% 0% 0 0%;
}



.logo_padding {
  padding: 1% 5% 1% 2%;
}

.new_user_link {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  font-weight: 700;
}

.venue_info_show {
  background-color: white;
}

.company_name_showpage {
  background-color: white;
}


.nav_link {
  padding: 10px;
  font-size: 120%;
}

.nav_link:link {
  color:white;
}

.nav_link:visited {
  color:white;
}

.nav_link:hover {
  color:white;
}

.nav_link:active {
  color:white;
}
